#content {
    margin: 60px;
}

h1 {
    color: white;
    background: grey;
    display: block;
    padding: 15px;
    border-radius: 15px;
    margin: 10px;
}

.center {
    text-align: center;
}

h2, h3 {
    color: green;
    margin: 30px;
}

p, form, label, textarea, select, input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 10px 30px 10px;
}

#result {
    font-size: 24px;
}

#content {
    margin: auto;
    width: 60%;
    padding: 10px;
}
